.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  box-sizing: border-box;
  padding: 60px 100px 60px 80px;
}

.footer__contents {
  display: flex;
  margin-bottom: 108px;
  justify-content: space-between;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
  padding: 0;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0 10px 0 0px;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  transition: color 0.3s linear;
}

.foooter__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
