@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scale(1.4);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
}

.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  left: -50px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.nav__link {
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.3s linear;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  max-width: 729px;
  bottom: 28px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}
.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  bottom: 20px;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__description-break {
  display: block;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
}

.header__paragraph_address {
  margin: 40px 0 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  color: #fff;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0 0 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 0 0 80px;
}

.recipes__videos {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  gap: 40px;
  justify-content: center;
  border: none 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  text-align: center;
  padding: 0 0 80px;
}
.form {
  max-width: 385px;
}
.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 8px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  width: 100%;
  margin: 0 0 32px;
  padding: 0;
  box-sizing: border-box;
  height: 60px;
  max-width: 385px;
  border: 1px solid #838383;
}

.form__input::placeholder {
  padding-left: 15px;
}

.form__button {
  display: block;
  width: 100%;
  border-radius: 2px;
  padding: 0;
  margin: 0 0 32px;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 0 100px;
}

.menu__title {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 24px;
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0 auto;
  max-width: 780px;
  text-align: center;
  padding-bottom: 100px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card {
  width: 540px;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: flex;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.about {
  padding: 100px 80px 173px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.about__title {
  margin: 0;
  z-index: 1;
  max-width: 251px;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
  row-gap: 20px;
  z-index: 1;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph:first-child {
  margin-top: 0;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  box-sizing: border-box;
  padding: 60px 100px 60px 80px;
}

.footer__contents {
  display: flex;
  margin-bottom: 108px;
  justify-content: space-between;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
  padding: 0;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0 10px 0 0px;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  transition: color 0.3s linear;
}

.foooter__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
